*.txt
*.o
*.so
*.a
shared_libtest
static_libtest
libtest
!*/zad2/raport2.txt
!*/zad3a/raport3a.txt
!*/zad3b/raport3b.txt
!*/zad1/pomiar_zad*
!*/zad2/pomiar_zad*
!*/zad3/pomiar_zad*
!*/zad4/pomiar_zad*
!*/zad5/pomiar_zad*
!*/zad2/raport_fork.txt
!*/zad1/raport2.txt
!*/zad3/resources/*.txt
!*/zad3/wnioski.txt
!*/zad1/wnioski.txt
!*/zad2/wnioski.txt
.vscode
kolos
kolos-prawdziwy
MarcinKroczek
Zadania-Kolokwium1